@import "reset";
@import "variables";
@import "mixins";
@import "grid"; 

.current {
  color: green;
}

body {
  background-color: #021E17;
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 12px;
}

.name {
  text-align: right;
  font-size: 2.5em;
  font-weight: bold;
}

.bio {
  background-color: rgba(12, 40, 29, 0.5);
  color: #EEFFCA;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1.5em;
  padding: 1em;
}

.description-container {
  background-color: #0C281D;
  border-top: 1px solid #89CA61;
  padding: 2em;
}

.description {
  font-size: 1.5em;
  line-height: 2em;
}

.skills {
  color: #89CA61;
  font-size: 2em;
  font-weight: bold;
}