---
layout: default
---
<div class="row bio-row">
  <div class="col-12 col-md-6 bio-image-box">
      <div class="bio-image">      
        <img src="{{ '/assets/images/headshot.png' | relative_url }}" alt="I believe in the power of technology to advance and enhance lives by improving consciousness, awareness, and empathy." class="active">
        <img src="{{ '/assets/images/saiyan_1.jpeg' | relative_url }}" alt="I believe in the power of technology to advance and enhance lives by improving consciousness, awareness, and empathy.">
        <p class="bio">{{site.bio}}</p>
      </div>
  </div>
  <div class="col-12 col-md-6 quote-col grid-container grid-item">
    <h2 class="skills">About Me</h2>
    <strong class="quote">As a veteran technology leader and seasoned application architect, I am dedicated to leading teams in the creation of innovative, user-friendly solutions. With a wealth of experience and knowledge, I have witnessed firsthand the transformative power of well-crafted software. Outside of the digital world, I enjoy honing my culinary skills and appreciating good music. Let's connect and collaborate on developing world-class software together.</strong>
  </div>      
</div>

<div class="row skills-col">
  <div class="col-6 grid-container">
    <h2 class="skills">Skills</h2>
    <h3 class="skills-item">Architectural Mastery</h3>
    <p class="skill-description">Demonstrable mastery in designing and implementing scalable and efficient service architectures, encompassing a wide range of paradigms including microservices, serverless, and event-driven architectures to ensure adaptability and performance.</p>
    <h3 class="skills-item">Agile Development</h3>
    <p class="skill-description">Proficient in Agile methodologies, including Scrum and Kanban, to deliver high-quality software solutions on time and within budget.</p>
    <h3 class="skills-item">DevOps</h3>
    <p class="skill-description">Experience in implementing DevOps practices to automate and streamline the software development lifecycle, including continuous integration and continuous deployment (CI/CD).</p>
    <h3 class="skills-item">Cloud Computing</h3>
    <p class="skill-description">Knowledge of cloud platforms such as AWS, Azure, and Google Cloud, with expertise in deploying and managing applications in cloud environments.</p>
    <h3 class="skills-item">User Experience (UX)</h3>
    <p class="skill-description">A keen focus on creating intuitive and engaging user interfaces that enhance user satisfaction and usability.</p>
  </div>
  <div class="col-6">
    <ul class="docs-list">
      <li>
        <p class="docs">Professional Documents</p>
      </li>
      <li>
        <a href="{{'/assets/docs/Richard-Kellermeyer-24N-Resume.pdf' | relative_url }}">Resume</a>
      </li>
      <!-- <li>
        <a href="#">Curriculum Vitae</a><br /><sup>(Coming Soon!)</sup>
      </li>
      <li>
        <a href="#">A.T.L.A.A.S.</a><br /><sup>(Coming Soon!)</sup>
      </li> -->
      <li>
        <a href="https://www.linkedin.com/in/richard-kellermeyer-b38b7413/">LinkedIn Profile</a>
      </li>
      <li>
        <a href="https://github.com/rkellermeyer">Github Portfolio</a>
      </li>
    </ul>
  </div>
</div>

<div class="row skills-col">
  <div class="col-6 grid-container">
    <h2 class="skills">Programming Languages</h2>
    <ul class="tech-list">
      <li>Ruby</li>
      <li>JavaScript</li>
      <li>Python</li>
      <li>SQL/NoSQL</li>
      <li>HTML/CSS</li>
    </ul>
  </div>
  <div class="col-6 grid-container">
    <h2 class="skills">Frameworks</h2>
    <ul class="tech-list">
      <li>Rails</li>
      <li>NodeJS</li>
      <li>Flask</li>
      <li>MySQL, PostgreSQL, MongoDB, Redis</li>
      <li>ReactJS, VueJS, Angular</li>
    </ul>
  </div>
</div>

<div class="row skills-col">
  <div class="col-12 col-md-6">
    <h2 class="skills">Professional Journey</h2>
    <p class="skill-description">Throughout my career, I have taken on various roles that allowed me to grow as a leader and technologist, as well as a person. My journey has been marked by a commitment to continuous learning and a passion for innovation.</p>
    <p class="skill-description">My vision is to leverage my expertise to create solutions that are not only technically sound but also user-centric and impactful. I am committed to staying at the forefront of technological advancements, always looking for ways to innovate and improve.</p>
    <p class="skill-description">Over the years, I have held various roles in the software development industry, including, among other experiences:</p>
  </div>
  <div class="col-12 col-md-6">
    <ul class="tech-list">
      <li>
        <h3 class="skills-item">Co-Founder/CTO</h3>
        <p class="skill-description">Led the technology strategy and vision for multiple startups by planning the development of software products and ensuring alignment with business goals.</p>
      </li>
      <li>
        <h3 class="skills-item">Director Of Development</h3>
        <p class="skill-description">Managed the development team and engineering managers, and oversaw the delivery of software projects.</p>
      </li>
      <li>
        <h3 class="skills-item">Sr. Engineering Manager</h3>
        <p class="skill-description">Managed multiple in house, onshore, offshore, and near-shore teams of engineers across a plethora of development verticals.</p>
      </li>
      <li>
        <h3 class="skills-item">Product Manager</h3>
        <p class="skill-description">Defined product roadmaps, prioritized features, and worked closely with stakeholders in-house and client facing.</p>
      </li>
      <li>
        <h3 class="skills-item">Technical Lead</h3>
        <p class="skill-description">Managed a team of developers and provided technical guidance on projects.</p>
      </li>
      <li>
        <h3 class="skills-item">Software Engineer</h3>
        <p class="skill-description">Developed and maintained software applications for clients in various business domains.</p>
      </li>
    </ul>
  </div>
</div>
